body{
    color: gray;
    margin: 5px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
} 
header,
footer{
    text-align: center;
}
p{
    text-align:justify;
    text-indent: 8ch;
}
h3{
    color:rgb(247, 240, 240);
    font-size: 68px;
}
h1{
    color:rgb(115, 162, 231);
    font-size: 80px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.bottom-left{
    position:absolute;
    bottom:8px;
    left: 16px;
}
h4{
    color:rgb(146, 9, 238);
    font-size: 48px;
}
