body{
    background-color: beige;
    color: gray;
    margin: 5px;
    padding: 2px;
} 
header,
footer{
    text-align: center;
    background-color: aquamarine;
}
p{
    text-align: right;
}