body{
    background-color: beige;
    color: gray;
    margin: 5px;
    padding: 2px;
} 
header,
footer{
    text-align: center;
    background-color: aquamarine;
}
p{
    text-align:justify;
    text-indent: 8ch;
}
h2,h3,h4{
    color:rgb(135, 135, 194);
    text-decoration-line: underline;
}